services:
  samba:
    image: dockurr/samba
    container_name: samba
    environment:
      NAME: "Data"
      USER: "nvrusername"
      PASS: "nvrpassword"
    ports:
      - 445:445
    volumes:
      - ./nvrpath:/storage
    restart: always